
/*.xie{
	width: 100px;
	height: 100px;
	background: #ccc;
	border-radius: 50%;
	padding-bottom: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	border: 1px solid #E1C4C4;
	float: right;
	z-index: 10;
	position: absolute;
	opacity: 0.7;
}*/
.xie{
	font-size: 24px;
	color: #6F00D2;
	background: #ccc;
	padding-bottom: 5px;
	border-radius: 10px;
	text-align: center;
}
.gun{
	color:	#9F4D95;
}
.riji{
	padding-top: 15px;
}
.rititle{
	font-size: 16px;
}
.ritime{
	font-size: 14px;
	opacity: 0.6;
}
.bianjishanchu{
	opacity: 0.6;
	font-size: 14px;
}